.rootDiv{
	width: 100%;
	margin-top: 3%;
}
select{
width:90%;
}

.divTable{
	/*display: table;*/
	width: 100%;
}
.divTableRow {
	display: table-row;
	border-collapse: collapse;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #138EFA;
	color: #EEE;
}

.divTableCell{
	align-content: center;
	padding: 5px 5px !important;
    padding-top: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 5px !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #138EFA !important;
    border-color: #2e6da4 !important;
}

.btn-primary option{
    background-color: #ffffff !important;
   	color: #070707 !important;
}

.btn-cal{
	padding: 6px 12px !important;
    padding-top: 9px !important;
    padding-right: 9px !important;
    padding-bottom: 9px !important;
    padding-left: 12px !important;
}

.btn-calTbl{
	padding: 6px 10px !important;
    padding-top: 9px !important;
    padding-right: 9px !important;
    padding-bottom: 9px !important;
    padding-left: 10px !important;
}

.inputCalTbl{
	width: 100% !important;
}

.input-hrs{
	width: 60% !important;
}

.input-typeAhead{
	width: 100% !important;
}
.input-typeAheadNameCell{
	width: 23% !important;
}

input{
	text-align: center !important;
	padding: 5px 5px !important;
    padding-top: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 5x !important;
}


.input-typeAheadDateCell{
	width: 28% !important;
}
.input-group{
	width: 90% !important;
}
