
.rootDiv{
	width: 100%;
	margin-top: 5%;
}
select{
	width:90%;
}

.tableRes td{
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	word-break:normal;
	border-color:#999;
	color:#444;
	background-color:#F7FDFA;
}
.tableRes th{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:#999;
	color:#fff;
	background-color:#138EFA;
}
.tableRes .ResDataCell{
	background-color:#D2E4FC;
}

.btn-primary {
    color: #fff !important;
    background-color: #138EFA !important;
    border-color: #2e6da4 !important;
}

.btn-primary option{
    	background-color: #ffffff !important;
   	color: #070707 !important;
}

.btn-cal{
	padding: 6px 12px !important;
    	padding-top: 9px !important;
    	padding-right: 9px !important;
    	padding-bottom: 9px !important;
    	padding-left: 12px !important;
}

.btn-calTbl{
	padding: 6px 10px !important;
    	padding-top: 9px !important;
    	padding-right: 9px !important;
    	padding-bottom: 9px !important;
    	padding-left: 10px !important;
}

.inputCalTbl{
	width: 8em !important;
}

.input-hrs{
	width: 60% !important;
	text-align: center !important;
}

.input-typeAhead{
	width: 8em !important;
}


