<div class="rootDiv" >
  <div style="width: 17%;float:left;">
    <div >
      <h4>Date:</h4> 
            <div class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup ng-model="date" 
                      is-open="popup.opened" 
                      datepicker-options="dateOptions" 
                      ng-required="true" 
                      close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-cal" ng-click="openDatePicker()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </div>
    </div><br>

    <div>
      <h4>User:</h4> 
        <select ng-model="selectedUser" class="btn btn-primary dropdown-toggle">
          <option value="">--None--</option>
          <option ng-repeat="User in Users" value="{{User.Id}}">{{User.Name}}</option>
        </select>
    </div><br>
      
    <div>     
      <h4>Project:</h4> 
        <select ng-model="selectedProject" class="btn btn-primary dropdown-toggle">
          <option value="">--None--</option>
          <option ng-repeat="Project in Projects" value="{{Project.Id}}">{{Project.Name}}</option>
        </select>
    </div><br>
      
    <button type="button" class="btn btn-primary" ng-disabled="disableGetDataButton" ng-click="buildQuery()">
      Get Data
    </button>

    <button type="button" class="btn btn-primary" ng-disabled="disableAddRowButton" ng-click="addRow()" 
            style="margin-left:3%;">
      Add Row
    </button>

  </div>

  <div style="width: 83%; float:left;" class="tg-wrap" ng-hide="tableHide">   <div class="divTable" ng-model="displayObj">
        <div class="divTableBody">
          <div class="divTableRow">
              <div class="divTableCell divTableHeading" ng-click="sortColumn('User__c')">
                User <i class="fa fa-sort-{{sortingOrder}}" ng-show="currentSortField == 'User__c'"></i>
              </div>
              <div class="divTableCell divTableHeading" ng-click="sortColumn('Project__c')">
                Project <i class="fa fa-sort-{{sortingOrder}}" ng-show="currentSortField == 'Project__c'"></i>
              </div>
              <div class="divTableCell divTableHeading" ng-click="sortColumn('Date__c')">
                Date <i class="fa fa-sort-{{sortingOrder}}" ng-show="currentSortField == 'Date__c'"></i>
              </div>
              <div class="divTableCell divTableHeading divTableHeading-days">
                Sun
              </div>
              <div class="divTableCell divTableHeading">
                Mon
              </div>
              <div class="divTableCell divTableHeading">
                Tue
              </div>
              <div class="divTableCell divTableHeading">
                Wed
              </div>
              <div class="divTableCell divTableHeading">
                Thu
              </div>
              <div class="divTableCell divTableHeading">
                Fri
              </div>
              <div class="divTableCell divTableHeading">
                Sat
              </div>
          </div>
          <div ng-repeat="ResourceBooking in ResourceBooking.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage))"
                class="divTableRow">
              <div class="divTableCell input-typeAheadNameCell">
                <typeahead-Directive type="User" 
                          curr-Data="ResourceBooking.User__c"/>
              </div>
              <div class="divTableCell input-typeAheadNameCell">
                <typeahead-Directive type="Project__c" 
                          curr-Data="ResourceBooking.Project__c"/>
              </div>
              <div class="divTableCell input-typeAheadDateCell">
                <date-Directive tbl-Date="ResourceBooking.Date__c" 
                        format="{{dateFormat}}"/>
              </div>
              <div class="divTableCell input-hrsData">
                <input type="text" ng-disabled="true"
                                    ng-model="ResourceBooking.SundayHours__c" 
                                    class="form-control input-hrs"/>
              </div >
              <div class="divTableCell input-hrsData">
                <day-Directive display-Obj="ResourceBooking" day="ResourceBooking.MondayHours__c"/>
              </div>
              <div class="divTableCell input-hrsData">
                <day-Directive display-Obj="ResourceBooking" day="ResourceBooking.TuesdayHours__c"/>
              </div> 
              <div class="divTableCell input-hrsData">
                <day-Directive display-Obj="ResourceBooking" day="ResourceBooking.WednesdayHours__c"/>
              </div> 
              <div class="divTableCell input-hrsData">
                <day-Directive display-Obj="ResourceBooking" day="ResourceBooking.ThursdayHours__c"/>
              </div> 
              <div class="divTableCell input-hrsData">
                <day-Directive display-Obj="ResourceBooking" day="ResourceBooking.FridayHours__c"/>
              </div>   

              <div class="divTableCell input-hrsData">
                <input type="text" ng-disabled="true"
                                    ng-model="ResourceBooking.SaturdayHours__c" 
                                    class="form-control input-hrs"/>
              </div>

          </div>
        </div>
      </div>
      
     <div style="text-align:center; margin:0 auto;">
      <ul uib-pager ng-model="currentPage" total-items="totalItems" 
                      items-per-page="itemsPerPage" 
                      next-text="Next>>" 
                      previous-text="<<Previous"></ul>
    </div> 
    <p style="color:red;">{{noRecordsMsg}}</p>
    <div align="center">
      <button type="button" class="btn btn-primary" ng-click="saveIt()" style="padding-left:15px; padding-right:15px;">
          Save
        </button>
        <button type="button" class="btn btn-primary" ng-click="buildQuery()"  style="margin-left:5%;"">
          Cancel
        </button>
      </div>  
  </div>  

</div>
